{{>header}}
{{>nav}}
<section class="my-5 container">
    <form method="post">
        <div class="mb-3">
            <input class="form-control" placeholder="Id" name="id" value="{{user.id}}" disabled>
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="Name" name="name" value="{{user.name}}">
        </div>
        
        <div class="mb-3">
            <button class="btn btn-primary">Edit </button>
        </div>

    </form>
</section>
{{>footer}}