{{>header}}
{{>nav}}
<section class="my-5 container">
    <form method="post">
        <div class="mb-3">
            <input class="form-control" placeholder="Name" name="name">
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="Email" name="email">
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="Age" name="age">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Add User</button>
        </div>

    </form>    
</section>
{{>footer}}