<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>face</mat-icon> super admin
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="addAdmin">
    <mat-icon>add</mat-icon> add admin
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/addLinkedUser">
    <mat-icon>add</mat-icon> add linked user
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/addProducts">
    <mat-icon>add</mat-icon> products
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/addCategore">
    <mat-icon> category</mat-icon> categore
  </a>
  <!-- <a mat-list-item> <mat-icon>edit</mat-icon> Link 3 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 4 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 5 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a> -->
</mat-nav-list>
