<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Dashboard</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <div class="card bg-success text-white mb-4">
        <h3 class="card-body">Orders</h3>
        <div class="card-footer d-flex ">
            <a class="small text-white stretched-link" routerLink="/product/all">View Details</a>
            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
    </div>
  </div>
</div>
